* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #03080D;
}

body.lock {
  overflow: hidden; 
}

a {
    text-decoration: none;
}



header, footer {
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding: 0 100px;
    align-items:center;
    background:#03080D;
}
header {
  position: sticky;
  top: 0;
}
.oneblock {
  display: flex;
  align-items:center;
}
.logo {
    height: 80px;
    width: 100px;
}
.socialMedia {
  margin: 10px 0px 0px 30px;
}
.logo img {
  width: 100%;
  height: 100%;
}
header a, footer a {
    color: #daa33f;
    opacity: 0.5;
}

header a:hover {
    opacity: 1;
    border-bottom: 1px solid #daa33f;
}

header a:active {
    opacity: 0.3;
}



@keyframes pulsate{50%{color:#daa33f;text-shadow:0 -1px rgba(0,0,0,.3),0 0 5px #f03000,0 0 8px #f80000;}
}
#order {
    color: #daa33f;
    text-shadow: 0 -1px rgba(0,0,0,.1);
    font-size: 32px;
    font-weight: 600;
    text-decoration: none;
    -webkit-animation: pulsate 1.2s linear infinite;
    animation: pulsate 1.2s linear infinite;
}


/* fregat-block */
.utp {
    padding-top: 90px;
    width: 100%;
    min-height: 600px;
}
.utp-title {
    text-align: center;
    padding-bottom: 40px;
    color: #daa33f;
    
}
.utp-title h1 {
  font-weight: 900;
  font-size: 7.5em;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black, 0 0 1em red;
}

.translate {
  text-align:end;
  margin: -10px 50px 0 0;
}
.mob-br {
  display: none;
}
.utp h3 {
  
    text-align: center;
    font-weight: 700;
    font-size: 3em;
    padding: 10px;
    color: #daa33f;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px black, 0 0 1em red;
}

.text-offer  {
  margin: 30px 0 60px 0;
  padding: 0 100px;
  font-size: 25px;
}
.text-offer p {
  text-align: justify;
  margin: 15px 0;
}
.utp-wrap {
    min-height: 700px;
    background: url(img/frr.jpg) 0 50%/cover  no-repeat;
}
.utp-text-block {
    padding: 50px 0;
    font-size: 25px;
    text-align: center;
    }
p {
    color: #daa33f;
    line-height: 1.4em;
}
.counts-img-wrap {
  display: none;
}
.counts-img {
  margin: 20px auto;
  text-align: center;
}

/* кнопка  */
.btn-wrap {
    height: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  
  .button {
    min-width: 200px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #03080D;
    background: #EDBF6E;
  background: linear-gradient(90deg, rgba(237,191,110,1) 0%, rgba(116,86,34,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 8px 8px 15px rgba(178,152,106,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 20px;
    }
  
  .button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(220px + 12px);
    min-height: calc(50px + 12px);
    border: 6px solid #03080D;
    box-shadow: 0 0 60px rgba(178,152,106,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  .button:hover::before, button:focus::before {
    opacity: 1;
  }
  
  .button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid rgba(178,152,106,.64);
    position: absolute;
    /* z-index: -1; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  .button:hover::after, .button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 20px;
      height: 20px;
      opacity: 1;
    }
    100% {
      width: 250px;
      height: 250px;
      opacity: 0;
    }
  }

  .numeration {
    text-align: center;
    margin: 40px auto;
    max-width: 230px;
    font-size: 1.5em;
    padding: 15px;
    outline: 4px solid rgba(237,191,110,1);
    color:rgba(237,191,110,1);
    border-radius: 5%;
    box-shadow: 0 0 60px rgba(178,152,106,.64);
    text-transform: uppercase;
    font-weight: 700;
  }

  .second-title {
    text-align: center;
    padding-bottom: 40px;
    color: #daa33f;
    font-size: 25px;
  }
  .second-title a {
    color: #daa33f;
    cursor: pointer;
  }
  /* эксперты */
  .spksh2 {
    text-align: center;
    font-weight: 700;
    font-size: 3em;
    padding: 30px;
    color: #daa33f;
  }
  .spk-wrap {
    display: block;
    color:#daa33f;
  }

  .spk {
    /* outline: 1px solid rgba(116,86,34,.5); */
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    margin: 20px;
  }
  .white {
    color: white;
  }
  .boild {
    font-weight: 900;
  }

  .spkimgblock {
    padding: 30px;
  }

  .spkimg {
    width: 80%;
    
  }
.spktitle {
  text-align: center;
}
  
  
  .spkinfo {
    padding: 20px 30px 0px 0px;
    text-align: center;
  }
  .spkinfo-block {
    font-size: 15px;
    margin: 30px 0;
    line-height: 1.4em;
  }
  .spkinfo-block i {
    margin-right: 10px;
  }
  .spkname{
    color: #daa33f;
    text-align: center;
    padding: 30px 0;
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
  }

  /* блок описание мероприятия */
  .imgrest {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
  }
.fotorest {
  display: block;
  margin: 40px;
  width: 90%;
}
  
  
  
  .second-btn {
    margin: 10px;
    min-height: 150px;
    min-width: 220px;
  }
  .netv-img-wrap {
    max-width: 1200px;
    margin: 50px auto;
  }
  .netv-img {
    width: 100%;
  }
  /* озганизаторы */
  .orgtitle {
    text-align: center;
    font-weight: 700;
    font-size: 3em;
    padding: 30px;
    color: #daa33f;
  }

  .org-block {
    display: flex;
    justify-content: space-around;
  }
  .org {
    max-width:48%;
    padding: 10px;

  }
  .orgname {
    width: 400px;
    color: #8E6214;
    text-align: center;
    padding-bottom: 20px;
  }
  .orgimgblock {
    width: 250px;
    min-height: 250px;
    margin: 10px auto;
  }

  .orgimg {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  .orginfo {
    /* padding: 0 15px; */
    width: 450px;
  }
  .title {
    text-align: center;
    font-weight: 700;
    font-size: 3em;
    padding: 30px;
    color: #daa33f;
  }
  .parters-wrap {
    display: flex;
    justify-content: space-around;
  }
  .partner {
    padding: 40px 0;
  }
  .doit {
    text-align: center;
  }
  .final-offer {
    font-size: 30px;
    margin: 20px auto 50px auto;
  }
  .final-offer span {
    font-weight: 800;
    color:whitesmoke;
  }
  /* slider */
 

  /* форма заявки */
  .form {
    max-width: 550px;
    margin: 0 auto;
    color: rgba(237,191,110,1);
    padding: 30px 0;
    background-color:rgb(3, 8, 13, 1);
    padding: 10px 30px;
  }



  /* .form-body {
    position: relative;
  } */

  /* .form-body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 0.9) url(img/loading.gif) center / 50px no-repeat;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease 0s;
  }
  .form-body._sending::after {
    opacity: 1;
    visibility: visible;
  } */
  
  .form-title {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 30px 0;
  }
  .form-item {
    margin: 0 0 20px 0;
  }
  .form-label {
    font-size: 18px;
    display: block;
    margin: 0 0 10px 0;
  }
  .form-input {
    height: 50px;
    padding: 0 20px;
    border-radius: 5px;
    width: 100%;
    font-size: 18px;
  }

  .form-input._error {
    box-shadow: 0 0 15px red;
  }
  textarea.form-input {
    min-height: 120px;
    resize: vertical;
    padding: 20px;
  }
  .options {
    padding: 10px 0 0 0;
  }
  
  .options-item {
    margin: 0 0 10px 0;
  }
  .options-input {
    display: none;
  }
.options-input:checked + .options-label::after {
  transform: scale(1);
}
  .options-label {
    font-size: 16px;
    display: inline-flex;
    line-height: 140%;
    align-items:center;
    position: relative;
    }
.options-label::before {
  content: "";
  align-self: flex-start;
  flex: 0 0 24px;
  height: 24px;
  background-color: rgba(237,191,110,1);
  border-radius: 50%;
  margin: 0 10px 0 0;
}
.options-label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  background-color: rgb(19, 15, 9);
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.3s ease 0s;
}

.select {
  height: 50px;
  width: 100%;
  border-radius: 5px;
  font-size: 18px;
  padding: 0 20px;
  margin: 0 0 20px 0;
}
.checkbox-input {
  display: none;
}
.checkbox-input:checked + .checkbox-label::after {
  transform: scale(1);
}
.checkbox-label {
  position: relative;
  font-size: 16px;
  line-height: 140%;
  display: inline-flex;
  align-items: center;
}
.checkbox-label::before {
  content: "";
  align-self:flex-start;
  flex: 0 0 24px;
  height: 24px;
  background-color: rgba(237,191,110,1);
  border-radius: 4px;
  margin: 0 10px 0 0;
}
.checkbox-label::after {
content: "";
width: 16px;
height: 16px;
position: absolute;
top: 4px;
left: 4px;
background-color:rgb(19, 15, 9);
cursor: pointer;
-webkit-clip-path: polygon(45% 64%, 84% 14%, 100% 28%, 47% 100%, 0 49%, 15% 32%);
clip-path: polygon(45% 64%, 84% 14%, 100% 28%, 47% 100%, 0 49%, 15% 32%);
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: transform .3s;
    transition: transform .3s;
}

.checkbox._error .checkbox-label::before {
  box-shadow: 0 0 15px red;
}

.form-button {
  width: 100%;
  min-height: 60px;
  background: #EDBF6E;
  background: linear-gradient(90deg, rgba(237,191,110,1) 0%, rgba(116,86,34,1) 100%);
  color: #03080D;
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  border: none;
  border-radius: 400px;
  box-shadow: 5px 5px 10px rgba(178,152,106,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

.form-button::before {
  content: '';
  border-radius: 1000px;
  
  box-shadow: 0 0 60px rgba(178,152,106,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.form-button:hover, .form-button:focus {
  color: #313133;
  transform: translateY(-6px);
}

/* slider */

/* .swiper-slide{
  background-color: rgba(237,191,110,1);
  text-align: center;
  
}
.image-slider__image img{
  padding: 20px -20px;
} */


.participate {
  overflow: hidden;
  margin-left: 30px;
}
.slide-text p {
  text-align: left;
  max-width:400px;
  font-size: 17px;
  margin: 10px 0;
}
.slide-text .name {
  font-weight: 700;
}
.warning {
  color: white;
  margin: 0 60px 30px 60px;
  text-align: justify;
}

.second-warn {
  text-align: center;
  font-size: 20px;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color:rgb(3, 8, 13, 0.9);
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup__body {
  min-height: 100%;
  display: flex;
  align-items:center;
  justify-content: center;
}

.popup__content {
position: relative;
max-width: 600px;
}
.popup__close {
position: absolute;
right: 10px;
top: 10px;
text-decoration: none;
color:#EDBF6E;
font-size: 20px;

}
